<div class="ks-footer-wrapper" id="contact">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-3 col-md-6 col-12">
            </div> -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="ks-footer-first">
                    <div class="ks-footer-logo">
                        <img src="/images/logo/logo.png" alt="">
                    </div>
                    <div class="ks-footer-text">
                        <p class="ks-paragraph">If you are looking for a fun way
                            to support your Mandarin Learning Journey
                            professionally, you are in the right place!
                            <br />
                            Let us get started!

                        </p>
                        <a href="/contactus">Contact Us
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    width="16.03" height="9.97"
                                    viewBox="0 0 16.03 9.97">
                                    <path class="cls-1"
                                        d="M1115.25,2936.29h-12.11a2.541,2.541,0,0,0-.39.01,0.8,0.8,0,0,0,0,1.59,2.508,2.508,0,0,0,.39.01h12.18a3.121,3.121,0,0,1-.24.3c-0.79.81-1.58,1.63-2.38,2.44a0.868,0.868,0,0,0-.26.87,0.752,0.752,0,0,0,1.28.35c1.38-1.39,2.74-2.79,4.1-4.2a0.765,0.765,0,0,0,0-1.12q-2.04-2.115-4.09-4.21a0.739,0.739,0,0,0-1.09,0,0.821,0.821,0,0,0,.01,1.16c0.78,0.81,1.56,1.62,2.35,2.42a2.215,2.215,0,0,0,.35.25A1.132,1.132,0,0,1,1115.25,2936.29Z"
                                        transform="translate(-1102.06 -2932.12)">
                                    </path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-12">
                <div class="ks-footer-link-parent">
                    <div class="ks-footer-links-heading">
                        <h2 class="ks-heading">quick links</h2>
                    </div>
                    <div class="ks-footer-link">
                        <ul>
                            <li>
                                <a href="/#about_us">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="7.062" height="7.06"
                                            viewBox="0 0 7.062 7.06">
                                            <path class="cls-1"
                                                d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                transform="translate(-674.969 -6665.97)" />
                                        </svg>
                                    </span>
                                    about us
                                </a>
                            </li>
                            <li>
                                <a href="/course#classes">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="7.062" height="7.06"
                                            viewBox="0 0 7.062 7.06">
                                            <path class="cls-1"
                                                d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                transform="translate(-674.969 -6665.97)" />
                                        </svg>
                                    </span>
                                    our courses
                                </a>
                            </li>
                            <!-- <li>
                                <a href="javascript:;">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="7.062" height="7.06"
                                            viewBox="0 0 7.062 7.06">
                                            <path class="cls-1"
                                                d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                transform="translate(-674.969 -6665.97)" />
                                        </svg>
                                    </span>
                                    why Us
                                </a>
                            </li> -->
                            <!-- <li>
                                <a href="javascript:;">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="7.062" height="7.06"
                                            viewBox="0 0 7.062 7.06">
                                            <path class="cls-1"
                                                d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                transform="translate(-674.969 -6665.97)" />
                                        </svg>
                                    </span>
                                    our team
                                </a>
                            </li> -->
                            <!-- <li>
                                <a href="javascript:;">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="7.062" height="7.06"
                                            viewBox="0 0 7.062 7.06">
                                            <path class="cls-1"
                                                d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                transform="translate(-674.969 -6665.97)" />
                                        </svg>
                                    </span>
                                    events
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="ks-footer-link-parent">
                    <div class="ks-footer-links-heading">
                        <h2 class="ks-heading activity">Key Courses
                        </h2>
                    </div>
                    <div class="ks-footer-link">
                        <ul>
                            <li>
                                <a href="/course#EasyStepstoChineseforKids">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="7.062" height="7.06"
                                            viewBox="0 0 7.062 7.06">
                                            <path class="cls-1"
                                                d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                transform="translate(-674.969 -6665.97)" />
                                        </svg>
                                    </span>
                                    Easy Steps to Chinese for Kids
                                </a>
                            </li>
                            <li>
                                <a href="/course#EasyStepstoChineseforTeens">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="7.062" height="7.06"
                                            viewBox="0 0 7.062 7.06">
                                            <path class="cls-1"
                                                d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                transform="translate(-674.969 -6665.97)" />
                                        </svg>
                                    </span>
                                    Easy Steps to Chinese for Teen
                                </a>
                            </li>
                            <li>
                                <a href="/course#StandardMandarin">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="7.062" height="7.06"
                                            viewBox="0 0 7.062 7.06">
                                            <path class="cls-1"
                                                d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                transform="translate(-674.969 -6665.97)" />
                                        </svg>
                                    </span>
                                    Standard Mandarin
                                </a>
                            </li>
                            <li>
                                <a href="/course#BusinessMandarin">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="7.062" height="7.06"
                                            viewBox="0 0 7.062 7.06">
                                            <path class="cls-1"
                                                d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                transform="translate(-674.969 -6665.97)" />
                                        </svg>
                                    </span>
                                    Business Mandarin
                                </a>
                            </li>
                            <li>
                                <a href="/course#HappyPinyin">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="7.062" height="7.06"
                                            viewBox="0 0 7.062 7.06">
                                            <path class="cls-1"
                                                d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                transform="translate(-674.969 -6665.97)" />
                                        </svg>
                                    </span>Happy Pinyin
                                </a>
                            </li>
                            <li>
                                <a href="/course#YCTCertificate">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="7.062" height="7.06"
                                            viewBox="0 0 7.062 7.06">
                                            <path class="cls-1"
                                                d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                transform="translate(-674.969 -6665.97)" />
                                        </svg>
                                    </span>YCT Certificate
                                </a>
                            </li>
                            <li>
                                <a href="/course#HSKCertificate">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="7.062" height="7.06"
                                            viewBox="0 0 7.062 7.06">
                                            <path class="cls-1"
                                                d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                transform="translate(-674.969 -6665.97)" />
                                        </svg>
                                    </span>HSK Certificate
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="ks-footer-last-parent">
                    <div class="ks-footer-links-heading">
                        <h2 class="ks-heading">Contact Us Now</h2>
                    </div>
                    <div class="ks-footer-form">
                        <% include ./main_footer_contact %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>