<!--
 * @Date         : 2023-08-09 14:44:21
 * @Author       : BDFD,bdfd2005@gmail.com
 * @Github       : https://github.com/bdfd
 * @LastEditTime : 2023-08-18 12:35:13
 * @LastEditors  : BDFD
 * @Description  : 
 * @FilePath     : \views\partials\main_head.ejs
 * Copyright (c) 2023 by BDFD, All Rights Reserved. 
-->
<!--=== Required meta tags ===-->
<title>Beside You Mandarin | <%= page %>
</title>
<meta charset="utf-8">
<meta name="active-menu" content="<%= menuId %>">
<meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--=== custom css ===-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/stylesheets2?family=Inter:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/swiper-bundle.css" />
<link rel="shortcut icon" type="image/ico" href="/images/logo/favicon.svg" />
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/responsive.css">
<!--=== custom css ===-->