<form target="_blank"
    action="https://formsubmit.co/jangelo.jaysson@feerock.com"
    method="POST">
    <input type="text" name="name" class="form-control" placeholder="Full Name"
        required>
    <input type="email" name="email" class="form-control"
        placeholder="Email Address" required>
    <input type="phone" name="phone" class="form-control"
        placeholder="Phone Number" required>
    <textarea placeholder="Your Message" class="form-control" name="message"
        rows="3" required></textarea>
    <input type="hidden" name="_subject" value="New Student Submission!">
    <input type="hidden" name="_cc"
        value="besideyoumandarin@gmail.com,sp055.bym@gmail.com">
    <input type="hidden" name="_next"
        value="https://bym-beside-you-mandrain.onrender.com">
    <input type="hidden" name="_template" value="table" required>
    <button type="submit" class="ks-dark-btn">Submit</button>
</form>