<!--
 * @Date         : 2023-08-22 11:09:38
 * @Author       : BDFD,bdfd2005@gmail.com
 * @Github       : https://github.com/bdfd
 * @LastEditTime : 2023-08-22 15:48:49
 * @LastEditors  : BDFD
 * @Description  : 
 * @FilePath     : \views\partials\main_navigationbar.ejs
 * Copyright (c) 2023 by BDFD, All Rights Reserved. 
-->
<div class="ks-header-wrappe ks-postion">
    <div class="container">
        <div class="ks-header-parent">
            <div class="ks-header-inner">
                <div class="ks-brand-logo">
                    <img src="/images/logo/logo.png" alt="">
                    <div class="ks-toggle-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="ks-navbar-menu">
                    <ul class="menu">
                        <li class="responsive-logo"><a href="javascript:;"><img
                                    src="/images/logo.png" alt=""></a>
                        </li>
                        <li>
                            <a href="/">
                                <div style="font-size: larger;">Home</div>
                            </a>
                        </li>
                        <li>
                            <a href="/course">
                                <div style="font-size: larger;">Programs</div>
                            </a>
                        </li>
                        <!-- <li><a href="/whyus">Why Us</a></li> -->
                        <li>
                            <a href="/contactus">
                                <div style="font-size: larger;">Contact Us</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>