<!--
 * @Date         : 2023-08-09 17:13:13
 * @Author       : BDFD,bdfd2005@gmail.com
 * @Github       : https://github.com/bdfd
 * @LastEditTime : 2023-08-10 11:35:52
 * @LastEditors  : BDFD
 * @Description  : 
 * @FilePath     : \views\layouts\index_layout.ejs
 * Copyright (c) 2023 by BDFD, All Rights Reserved. 
-->
<!DOCTYPE html>
<html>

<head>
	<% include ../1.0Index_Page/index_partials/index_head %>
</head>

<body>
	<div>
		<%- body%>
	</div>
	<div>
		<% include ../1.0Index_Page/index_partials/index_script %>
	</div>
</body>

</html>