<div class="ks-client-wrapper" id="testimonial">
    <div class="container">
        <div class="ks-client-top-heading">
            <h2 class="ks-heading" id="teacher">Our Teachers</h2>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ks-client-box">
                        <div class="ks-client-box-inner">
                            <div class="ks-client-heading">
                                <div class="ks-client-img">
                                    <img src="/images/whyus/teacher1_125x125.png"
                                        alt="Ms. Eve">
                                </div>
                                <div class="ks-client-name">
                                    <h6>Ms. Eve</h6>
                                    <!-- <p>3.7b.Certified Chinese Teacher</p> -->
                                </div>
                            </div>
                            <div class="ks-client-text">
                                <p class="ks-paragraph">She is
                                    Certified teacher
                                    by Confucius Institute Headquarters for
                                    teaching Chinese to speakers of other
                                    languages and PSC second levels of
                                    first-class. Learnt the courses of
                                    “Educational Psychology” and “Educational
                                    methods”.<br />
                                    She been helping around 25 multinational
                                    students above 1000+ teaching hours to help
                                    beginners to learn from Pinyin to Chinese
                                    characters, reading and conversational. In a
                                    relaxing class atmosphere, she aims to build
                                    a safe, fun, and efficient classroom for the
                                    students.<br />
                                    She also has rich Montessori school teaching
                                    experience.
                                </p>
                                <div class="ks-qoute-img">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="58.281" height="50.22"
                                            viewBox="0 0 58.281 50.22">
                                            <path class="cls-1"
                                                d="M855.949,3875.29c0.363-.72.69-1.47,1.1-2.17a73.444,73.444,0,0,0,6.635-13.88c0.724-2.21,1.279-4.48,1.941-6.84-1.517.2-2.8,0.48-4.09,0.52a13.8,13.8,0,0,1-3.164-27.35,13.611,13.611,0,0,1,16.413,12.4c0.548,10.1-1.583,19.69-7.484,28.18-2.7,3.88-6.462,6.54-10.37,9.04a4.288,4.288,0,0,1-.716.3C856.123,3875.42,856.036,3875.36,855.949,3875.29Zm30.418-.04c4.152-7.22,8.2-14.47,9.615-22.96a15.391,15.391,0,0,1-7.048.43,13.827,13.827,0,1,1,16.462-13.68c0.08,9.11-1.709,17.79-6.591,25.66-2.831,4.57-6.957,7.73-11.422,10.52a4.007,4.007,0,0,1-.709.26C886.572,3875.4,886.469,3875.32,886.367,3875.25Z"
                                                transform="translate(-847.125 -3825.28)" />
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ks-client-box">
                        <div class="ks-client-box-inner">
                            <div class="ks-client-heading">
                                <div class="ks-client-img">
                                    <img src="/images/whyus/teacher2_125x125.png"
                                        alt="Teacher 2">
                                </div>
                                <div class="ks-client-name">
                                    <h6>Ms. Ding</h6>
                                    <!-- <p>3.8b.Certified Chinese Teacher</p> -->
                                </div>
                            </div>
                            <div class="ks-client-text">
                                <p class="ks-paragraph">She obtained the Senior
                                    Middle school Teacher Certificate and the
                                    Mandarin Certificate by the National
                                    Language Commission.<br />
                                    She has more than 5 years experiences of
                                    mandarin teaching. She has taught more than
                                    500 students in the past five years, and she
                                    is good at finding out the characteristics
                                    of each student and provides customized
                                    courses for students.<br />
                                    She Can mobilize the enthusiasm of students
                                    well, let them participate in the classes.
                                </p>
                                <div class="ks-qoute-img">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="58.281" height="50.22"
                                            viewBox="0 0 58.281 50.22">
                                            <path class="cls-1"
                                                d="M855.949,3875.29c0.363-.72.69-1.47,1.1-2.17a73.444,73.444,0,0,0,6.635-13.88c0.724-2.21,1.279-4.48,1.941-6.84-1.517.2-2.8,0.48-4.09,0.52a13.8,13.8,0,0,1-3.164-27.35,13.611,13.611,0,0,1,16.413,12.4c0.548,10.1-1.583,19.69-7.484,28.18-2.7,3.88-6.462,6.54-10.37,9.04a4.288,4.288,0,0,1-.716.3C856.123,3875.42,856.036,3875.36,855.949,3875.29Zm30.418-.04c4.152-7.22,8.2-14.47,9.615-22.96a15.391,15.391,0,0,1-7.048.43,13.827,13.827,0,1,1,16.462-13.68c0.08,9.11-1.709,17.79-6.591,25.66-2.831,4.57-6.957,7.73-11.422,10.52a4.007,4.007,0,0,1-.709.26C886.572,3875.4,886.469,3875.32,886.367,3875.25Z"
                                                transform="translate(-847.125 -3825.28)" />
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
</div>