<!--
 * @Date         : 2023-08-10 16:54:52
 * @Author       : BDFD,bdfd2005@gmail.com
 * @Github       : https://github.com/bdfd
 * @LastEditTime : 2023-08-10 17:00:44
 * @LastEditors  : BDFD
 * @Description  : 
 * @FilePath     : \views\2.0Course_Page\course_partials\03course_gallery.ejs
 * Copyright (c) 2023 by BDFD, All Rights Reserved. 
-->
<div class="ks-gallery-wrapper" id="gallery">
    <div class="container">
        <div class="ks-gallery-heading">
            <h2 class="ks-heading">Our Certificate</h2>
        </div>
        <div class="filters filter-button-group">
            <ul>
                <h4>
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".events">Certificate Type 1</li>
                    <li data-filter=".holidaystour">Certificate Type 2
                    </li>
                    <li data-filter=".award">Certificate Type 3</li>
                    <li data-filter=".presenday">Certificate Type 4</li>
                </h4>
            </ul>
        </div>
        <div class="content grid">
            <div
                class="single-content holidaystour grid-item gallery-box-inner">
                <div class="ks-gallery-img">
                    <img class="p2" src="/images/c1.png">
                    <div class="ks-gallery-overlay"></div>
                </div>
            </div>
            <div
                class="single-content holidaystour grid-item gallery-box-inner">
                <div class="ks-gallery-img">
                    <img class="p2" src="/images/c1.png">
                    <div class="ks-gallery-overlay"></div>
                </div>
            </div>
            <div class="single-content presenday grid-item gallery-box-inner">
                <div class="ks-gallery-img">
                    <img class="p2" src="/images/c1.png">
                    <div class="ks-gallery-overlay"></div>
                </div>
            </div>
            <div class="single-content events grid-item gallery-box-inner">
                <div class="ks-gallery-img">
                    <img class="p2" src="/images/c1.png">
                    <div class="ks-gallery-overlay"></div>
                </div>
            </div>
            <div class="single-content presenday grid-item gallery-box-inner">
                <div class="ks-gallery-img">
                    <img class="p2" src="/images/c1.png">
                    <div class="ks-gallery-overlay"></div>
                </div>
            </div>
            <div class="single-content award grid-item gallery-box-inner">
                <div class="ks-gallery-img">
                    <img class="p2" src="/images/c1.png">
                    <div class="ks-gallery-overlay"></div>
                </div>
            </div>
            <div class="single-content award grid-item gallery-box-inner">
                <div class="ks-gallery-img">
                    <img class="p2" src="/images/c1.png">
                    <div class="ks-gallery-overlay"></div>
                </div>
            </div>
            <div class="single-content events grid-item gallery-box-inner">
                <div class="ks-gallery-img">
                    <img class="p2" src="/images/c1.png">
                    <div class="ks-gallery-overlay"></div>
                </div>
            </div>
        </div>
        <!-- <div class="ks-gallery-btn">
            <a href="javascript:;" class="ks-dark-btn">view more
                photos</a>
        </div> -->
    </div>
</div>