<!--
 * @Date         : 2023-08-15 13:17:31
 * @Author       : BDFD,bdfd2005@gmail.com
 * @Github       : https://github.com/bdfd
 * @LastEditTime : 2023-08-16 10:27:33
 * @LastEditors  : BDFD
 * @Description  : 
 * @FilePath     : \views\4.0ContactUs_Page\contact_partials\01contact_message.ejs
 * Copyright (c) 2023 by BDFD, All Rights Reserved. 
-->
<div class="container">
    <h1>Contact Us Form</h1>
    <form target="_blank"
        action="https://formsubmit.co/besideyoumandarin@gmail.com"
        method="POST">
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <input type="text" name="name" class="form-control"
                        placeholder="Full Name" required>
                </div>
                <div class="col">
                    <input type="email" name="email" class="form-control"
                        placeholder="Email Address" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea placeholder="Your Message" class="form-control"
                name="message" rows="10" required></textarea>
        </div>
        <input type="hidden" name="_next"
            value="https://bym-beside-you-mandrain.onrender.com">
        <input type="hidden" name="_template" value="table">
        <button type="submit"
            class="btn btn-lg btn-dark btn-block">Submit</button>
    </form>
</div>