<!--
 * @Date         : 2023-08-10 22:07:05
 * @Author       : BDFD,bdfd2005@gmail.com
 * @Github       : https://github.com/bdfd
 * @LastEditTime : 2023-08-17 12:41:38
 * @LastEditors  : BDFD
 * @Description  : 
 * @FilePath     : \views\3.0WhyUs_Page\whyus.ejs
 * Copyright (c) 2023 by BDFD, All Rights Reserved. 
-->
<!-- loader start -->
<div class="loader">
    <div class="spinner">
        <img src="assets/images/loader.gif" alt="loader" />
    </div>
</div>
<!-- loader end -->
<!-- Bottom To Top -->
<div class="ks-top-icon">
    <a id="button" class="show">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="18"
            viewBox="0 0 23 18">
            <path
                d="M13.825,18.000 C10.772,18.000 7.928,16.517 6.217,14.033 C5.870,13.530 6.006,12.845 6.519,12.505 C7.032,12.165 7.729,12.297 8.076,12.801 C9.369,14.678 11.518,15.799 13.825,15.799 C17.647,15.799 20.757,12.749 20.757,9.000 C20.757,5.251 17.647,2.200 13.825,2.200 C11.512,2.200 9.359,3.326 8.067,5.212 C7.721,5.717 7.024,5.851 6.510,5.512 C5.996,5.173 5.859,4.489 6.205,3.985 C7.915,1.490 10.763,-0.000 13.825,-0.000 C18.884,-0.000 23.000,4.037 23.000,9.000 C23.000,13.963 18.884,18.000 13.825,18.000 ZM11.293,6.704 C10.902,6.313 10.902,5.679 11.293,5.287 C11.683,4.896 12.316,4.896 12.707,5.287 L15.706,8.291 C15.730,8.315 15.752,8.339 15.772,8.365 C15.777,8.371 15.782,8.377 15.787,8.384 C15.802,8.403 15.817,8.423 15.831,8.443 C15.835,8.449 15.838,8.455 15.842,8.462 C15.856,8.483 15.869,8.505 15.881,8.527 C15.883,8.532 15.886,8.537 15.888,8.541 C15.901,8.566 15.913,8.590 15.923,8.616 C15.925,8.619 15.925,8.622 15.927,8.626 C15.938,8.653 15.948,8.680 15.956,8.708 C15.957,8.712 15.958,8.715 15.959,8.719 C15.967,8.747 15.974,8.774 15.980,8.803 C15.982,8.812 15.982,8.820 15.984,8.829 C15.988,8.852 15.992,8.876 15.995,8.900 C15.998,8.933 16.000,8.966 16.000,9.000 C16.000,9.033 15.998,9.067 15.995,9.100 C15.992,9.124 15.988,9.148 15.984,9.172 C15.982,9.180 15.982,9.189 15.980,9.197 C15.974,9.226 15.967,9.254 15.959,9.282 C15.958,9.285 15.957,9.288 15.956,9.292 C15.948,9.320 15.938,9.348 15.927,9.375 C15.925,9.378 15.925,9.381 15.923,9.384 C15.913,9.410 15.901,9.435 15.888,9.459 C15.886,9.464 15.883,9.468 15.881,9.473 C15.869,9.495 15.856,9.517 15.842,9.539 C15.838,9.545 15.835,9.551 15.831,9.557 C15.817,9.577 15.802,9.597 15.787,9.616 C15.782,9.623 15.777,9.629 15.772,9.636 C15.752,9.661 15.730,9.685 15.707,9.708 L12.707,12.712 C12.511,12.908 12.256,13.006 12.000,13.006 C11.744,13.006 11.488,12.908 11.293,12.712 C10.902,12.321 10.902,11.688 11.293,11.296 L12.586,10.001 L1.000,10.001 C0.448,10.001 -0.000,9.553 -0.000,9.000 C-0.000,8.447 0.448,7.998 1.000,7.998 L12.586,7.998 L11.293,6.704 Z">
            </path>
        </svg>
    </a>
</div>
<!-- Bottom To Top -->
<!-- header section start -->
<div class="ks-header-wrappe ks-postion">
    <div class="container">
        <div class="ks-header-parent">
            <div class="ks-header-inner">
                <div class="ks-brand-logo">
                    <a href="index.html"><img src="/images/logo.png" alt=""></a>
                    <div class="ks-toggle-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="ks-navbar-menu">
                    <ul class="menu">
                        <li class="responsive-logo"><a href="javascript:;"><img
                                    src="/images/logo.png" alt=""></a>
                        </li>
                        <li><a href="/">Home</a>
                        </li>
                        <li><a href="/course">Programs</a></li>
                        <li class="active"><a href="/whyus">Why Us</a></li>
                        <li><a href="/contactus">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header section end -->
<!-- banner-sec-start -->
<div class="ks-page-title-bg">
    <div class="overlay"></div>
    <div class="container">
        <div class="dis_flex">
            <div class="ks_title" style="color:rgba(111,209,219,255);">Why Learn
                from Us</div>
            <!-- <div class="pull-right">
                <ul class="breadcrumb">
                    <li><a href="#" style="color:rgba(111,209,219,255);">Home
                        </a></li>
                    <li class="active" style="color:rgba(111,209,219,255);">
                        /Programs/Contact Us </li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
<!-- end -->
<!-- activiti-sec-start -->
<div>
    <% include ./whyus_partials/01whyus_reason %>
</div>
<!-- end -->
<!-- teacher section start -->
<div>
    <% include ./whyus_partials/02whyus_teacher %>
</div>
<!-- teacher section end -->
<!-- footer section start -->
<div>
    <% include ../partials/main_footer %>
</div>
<!-- footer section end -->