<!--
 * @Date         : 2023-08-19 19:13:39
 * @Author       : BDFD,bdfd2005@gmail.com
 * @Github       : https://github.com/bdfd
 * @LastEditTime : 2023-08-19 19:32:11
 * @LastEditors  : BDFD
 * @Description  : 
 * @FilePath     : \views\3.0WhyUs_Page\whyus_partials\04whyus_buildconfidence.ejs
 * Copyright (c) 2023 by BDFD, All Rights Reserved. 
-->
<div class="ks-about-wrapper" id="about"
    style="background-color: rgba(255,94,128,255)">
    <div class="container">
        <div class="ks-about-botm-parent">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="ks-about-left-img">
                        <img src="/images/about-girl.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="ks-about-right">
                        <!-- 1-2-1 Section-->
                        <h2 class="ks-heading">About Us</h2>
                        <!-- 1-2-2 Section-->
                        <h2 class="ks-paragraph" style="font-size:x-large;">
                            <b>BEside YOU</b> Mandarin offers you
                            customized
                            mandarin learning solutions. We work together
                            with you to start the mandarin learning journey
                            with fun and confidence.
                        </h2>
                        <!-- <a href="javascript:;" class="ks-dark-btn">read
                                more</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>