<body>
    <!-- loader start -->
    <div class="loader">
        <div class="spinner">
            <img src="assets/images/loader.gif" alt="loader" />
        </div>
    </div>
    <!-- loader end -->
    <!-- Bottom To Top -->
    <div class="ks-top-icon">
        <a id="button" class="show">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="18"
                viewBox="0 0 23 18">
                <path
                    d="M13.825,18.000 C10.772,18.000 7.928,16.517 6.217,14.033 C5.870,13.530 6.006,12.845 6.519,12.505 C7.032,12.165 7.729,12.297 8.076,12.801 C9.369,14.678 11.518,15.799 13.825,15.799 C17.647,15.799 20.757,12.749 20.757,9.000 C20.757,5.251 17.647,2.200 13.825,2.200 C11.512,2.200 9.359,3.326 8.067,5.212 C7.721,5.717 7.024,5.851 6.510,5.512 C5.996,5.173 5.859,4.489 6.205,3.985 C7.915,1.490 10.763,-0.000 13.825,-0.000 C18.884,-0.000 23.000,4.037 23.000,9.000 C23.000,13.963 18.884,18.000 13.825,18.000 ZM11.293,6.704 C10.902,6.313 10.902,5.679 11.293,5.287 C11.683,4.896 12.316,4.896 12.707,5.287 L15.706,8.291 C15.730,8.315 15.752,8.339 15.772,8.365 C15.777,8.371 15.782,8.377 15.787,8.384 C15.802,8.403 15.817,8.423 15.831,8.443 C15.835,8.449 15.838,8.455 15.842,8.462 C15.856,8.483 15.869,8.505 15.881,8.527 C15.883,8.532 15.886,8.537 15.888,8.541 C15.901,8.566 15.913,8.590 15.923,8.616 C15.925,8.619 15.925,8.622 15.927,8.626 C15.938,8.653 15.948,8.680 15.956,8.708 C15.957,8.712 15.958,8.715 15.959,8.719 C15.967,8.747 15.974,8.774 15.980,8.803 C15.982,8.812 15.982,8.820 15.984,8.829 C15.988,8.852 15.992,8.876 15.995,8.900 C15.998,8.933 16.000,8.966 16.000,9.000 C16.000,9.033 15.998,9.067 15.995,9.100 C15.992,9.124 15.988,9.148 15.984,9.172 C15.982,9.180 15.982,9.189 15.980,9.197 C15.974,9.226 15.967,9.254 15.959,9.282 C15.958,9.285 15.957,9.288 15.956,9.292 C15.948,9.320 15.938,9.348 15.927,9.375 C15.925,9.378 15.925,9.381 15.923,9.384 C15.913,9.410 15.901,9.435 15.888,9.459 C15.886,9.464 15.883,9.468 15.881,9.473 C15.869,9.495 15.856,9.517 15.842,9.539 C15.838,9.545 15.835,9.551 15.831,9.557 C15.817,9.577 15.802,9.597 15.787,9.616 C15.782,9.623 15.777,9.629 15.772,9.636 C15.752,9.661 15.730,9.685 15.707,9.708 L12.707,12.712 C12.511,12.908 12.256,13.006 12.000,13.006 C11.744,13.006 11.488,12.908 11.293,12.712 C10.902,12.321 10.902,11.688 11.293,11.296 L12.586,10.001 L1.000,10.001 C0.448,10.001 -0.000,9.553 -0.000,9.000 C-0.000,8.447 0.448,7.998 1.000,7.998 L12.586,7.998 L11.293,6.704 Z">
                </path>
            </svg>
        </a>
    </div>
    <!-- Bottom To Top -->
    <!-- header section start -->
    <div class="ks-header-wrappe ks-postion">
        <div class="container">
            <div class="ks-header-parent">
                <div class="ks-header-inner">
                    <div class="ks-brand-logo">
                        <a href="index.html"><img src="assets/images/logo.png"
                                alt=""></a>
                        <div class="ks-toggle-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="ks-navbar-menu">
                        <ul class="menu">
                            <li class="responsive-logo"><a
                                    href="javascript:;"><img
                                        src="assets/images/logo.png" alt=""></a>
                            </li>
                            <li class="active"><a href="index.html">Home</a>
                            </li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="activity.html">Activity</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="classes.html">Classes</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header section end -->
    <!-- banner-sec-start -->
    <div class="ks-page-title-bg">
        <div class="overlay"></div>
        <div class="container">
            <div class="dis_flex">
                <div class="ks_title">Classes</div>
                <div class="pull-right">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home </a></li>
                        <li class="active"> / Classes</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end -->


    <!-- blog section start -->
    <div class="ks-blog-wrapper" id="classes">
        <div class="container">
            <!-- <div class="ks-blog-heading">
                <h2 class="ks-heading">our popular online classes</h2>
                <a href="javascript:;" class="ks-paragraph">view all classes
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16.03" height="9.97" viewBox="0 0 16.03 9.97">
                            <path class="cls-1"
                                d="M1115.25,2936.29h-12.11a2.541,2.541,0,0,0-.39.01,0.8,0.8,0,0,0,0,1.59,2.508,2.508,0,0,0,.39.01h12.18a3.121,3.121,0,0,1-.24.3c-0.79.81-1.58,1.63-2.38,2.44a0.868,0.868,0,0,0-.26.87,0.752,0.752,0,0,0,1.28.35c1.38-1.39,2.74-2.79,4.1-4.2a0.765,0.765,0,0,0,0-1.12q-2.04-2.115-4.09-4.21a0.739,0.739,0,0,0-1.09,0,0.821,0.821,0,0,0,.01,1.16c0.78,0.81,1.56,1.62,2.35,2.42a2.215,2.215,0,0,0,.35.25A1.132,1.132,0,0,1,1115.25,2936.29Z"
                                transform="translate(-1102.06 -2932.12)"></path>
                        </svg>
                    </span>
                </a>
            </div> -->
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="ks-blog-box">
                        <div class="ks-blog-inner">
                            <a href="javascript:;">
                                <div class="ks-blog-img">
                                    <img src="assets/images/b1.jpg" alt="">
                                </div>
                            </a>
                            <div class="ks-blog-content">
                                <a href="javascript:;" class="ks-dark-btn">age -
                                    5-7 year</a>
                                <h4>communication skills classes</h4>
                                <p class="ks-paragraph">Consectetur adipiscing
                                    eelit, seesd desdo eiusmod tempor incididunt
                                    usadeet labore et dolore magna aliqua. </p>
                                <div class="ks-blog-footer">
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="21" height="14"
                                                viewBox="0 0 21 14">
                                                <path class="cls-1"
                                                    d="M414.72,4963.71h-5.205c-0.639,0-.739-0.11-0.717-0.76a5.916,5.916,0,0,1,11.748-.83,7.2,7.2,0,0,1,.093.91c0.023,0.55-.1.68-0.632,0.68H414.72Zm0.017-7.47a3.261,3.261,0,1,1,3.18-3.3A3.223,3.223,0,0,1,414.737,4956.24Zm-8.628-.48a2.286,2.286,0,1,1,2.286,2.36A2.312,2.312,0,0,1,406.109,4955.76Zm12.717,0.01a2.286,2.286,0,1,1,4.572.02A2.287,2.287,0,1,1,418.826,4955.77Zm2.707,7.94a7.047,7.047,0,0,0-1.253-4.55,3.579,3.579,0,0,1,1.839.01,4.216,4.216,0,0,1,3.09,3.71c0.058,0.67-.077.83-0.727,0.83h-2.949Zm-12.383-4.53a7.017,7.017,0,0,0-1.244,4.53h-3.15a0.484,0.484,0,0,1-.538-0.54,4.168,4.168,0,0,1,4.722-4.07C409,4959.12,409.061,4959.15,409.15,4959.18Z"
                                                    transform="translate(-404.219 -4949.72)" />
                                            </svg>
                                            25 Students
                                        </span>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="14" height="14"
                                                viewBox="0 0 14 14">
                                                <path class="cls-1"
                                                    d="M546.95,4952.05A7,7,0,1,0,549,4957,6.963,6.963,0,0,0,546.95,4952.05ZM542,4962.63a5.637,5.637,0,0,1-5.626-5.63v-0.02h0v-0.01a5.642,5.642,0,0,1,5.55-5.6H542A5.63,5.63,0,0,1,542,4962.63Zm4.273-5.29a0.419,0.419,0,0,1-.414-0.42,0.41,0.41,0,0,1,.414-0.41h0.5a4.819,4.819,0,0,0-4.416-4.3v0.44a0.415,0.415,0,0,1-.829,0v-0.42a4.8,4.8,0,0,0-4.306,4.34h0.447a0.41,0.41,0,1,1,0,.82h-0.45a4.806,4.806,0,0,0,4.367,4.39v-0.53a0.414,0.414,0,0,1,.828,0v0.53a4.8,4.8,0,0,0,4.372-4.44h-0.513Zm-2.6-1.43-1.384,1.38a0.418,0.418,0,0,1-.586,0l-2.409-2.41a0.409,0.409,0,0,1,0-.58,0.418,0.418,0,0,1,.586,0l2.116,2.11,1.091-1.09A0.416,0.416,0,0,1,543.677,4955.91Z"
                                                    transform="translate(-535 -4950)" />
                                            </svg>
                                            08:00 To 11:00
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="ks-blog-box">
                        <div class="ks-blog-inner">
                            <a href="javascript:;">
                                <div class="ks-blog-img">
                                    <img src="assets/images/b2.jpg" alt="">
                                </div>
                            </a>
                            <div class="ks-blog-content">
                                <a href="javascript:;" class="ks-dark-btn">age -
                                    5-7 year</a>
                                <h4>communication skills classes</h4>
                                <p class="ks-paragraph">Consectetur adipiscing
                                    eelit, seesd desdo eiusmod tempor incididunt
                                    usadeet labore et dolore magna aliqua. </p>
                                <div class="ks-blog-footer">
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="21" height="14"
                                                viewBox="0 0 21 14">
                                                <path class="cls-1"
                                                    d="M414.72,4963.71h-5.205c-0.639,0-.739-0.11-0.717-0.76a5.916,5.916,0,0,1,11.748-.83,7.2,7.2,0,0,1,.093.91c0.023,0.55-.1.68-0.632,0.68H414.72Zm0.017-7.47a3.261,3.261,0,1,1,3.18-3.3A3.223,3.223,0,0,1,414.737,4956.24Zm-8.628-.48a2.286,2.286,0,1,1,2.286,2.36A2.312,2.312,0,0,1,406.109,4955.76Zm12.717,0.01a2.286,2.286,0,1,1,4.572.02A2.287,2.287,0,1,1,418.826,4955.77Zm2.707,7.94a7.047,7.047,0,0,0-1.253-4.55,3.579,3.579,0,0,1,1.839.01,4.216,4.216,0,0,1,3.09,3.71c0.058,0.67-.077.83-0.727,0.83h-2.949Zm-12.383-4.53a7.017,7.017,0,0,0-1.244,4.53h-3.15a0.484,0.484,0,0,1-.538-0.54,4.168,4.168,0,0,1,4.722-4.07C409,4959.12,409.061,4959.15,409.15,4959.18Z"
                                                    transform="translate(-404.219 -4949.72)" />
                                            </svg>
                                            25 Students
                                        </span>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="14" height="14"
                                                viewBox="0 0 14 14">
                                                <path class="cls-1"
                                                    d="M546.95,4952.05A7,7,0,1,0,549,4957,6.963,6.963,0,0,0,546.95,4952.05ZM542,4962.63a5.637,5.637,0,0,1-5.626-5.63v-0.02h0v-0.01a5.642,5.642,0,0,1,5.55-5.6H542A5.63,5.63,0,0,1,542,4962.63Zm4.273-5.29a0.419,0.419,0,0,1-.414-0.42,0.41,0.41,0,0,1,.414-0.41h0.5a4.819,4.819,0,0,0-4.416-4.3v0.44a0.415,0.415,0,0,1-.829,0v-0.42a4.8,4.8,0,0,0-4.306,4.34h0.447a0.41,0.41,0,1,1,0,.82h-0.45a4.806,4.806,0,0,0,4.367,4.39v-0.53a0.414,0.414,0,0,1,.828,0v0.53a4.8,4.8,0,0,0,4.372-4.44h-0.513Zm-2.6-1.43-1.384,1.38a0.418,0.418,0,0,1-.586,0l-2.409-2.41a0.409,0.409,0,0,1,0-.58,0.418,0.418,0,0,1,.586,0l2.116,2.11,1.091-1.09A0.416,0.416,0,0,1,543.677,4955.91Z"
                                                    transform="translate(-535 -4950)" />
                                            </svg>
                                            08:00 To 11:00
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="ks-blog-box">
                        <div class="ks-blog-inner">
                            <a href="javascript:;">
                                <div class="ks-blog-img">
                                    <img src="assets/images/b3.jpg" alt="">
                                </div>
                            </a>
                            <div class="ks-blog-content">
                                <a href="javascript:;" class="ks-dark-btn">age -
                                    5-7 year</a>
                                <h4>communication skills classes</h4>
                                <p class="ks-paragraph">Consectetur adipiscing
                                    eelit, seesd desdo eiusmod tempor incididunt
                                    usadeet labore et dolore magna aliqua. </p>
                                <div class="ks-blog-footer">
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="21" height="14"
                                                viewBox="0 0 21 14">
                                                <path class="cls-1"
                                                    d="M414.72,4963.71h-5.205c-0.639,0-.739-0.11-0.717-0.76a5.916,5.916,0,0,1,11.748-.83,7.2,7.2,0,0,1,.093.91c0.023,0.55-.1.68-0.632,0.68H414.72Zm0.017-7.47a3.261,3.261,0,1,1,3.18-3.3A3.223,3.223,0,0,1,414.737,4956.24Zm-8.628-.48a2.286,2.286,0,1,1,2.286,2.36A2.312,2.312,0,0,1,406.109,4955.76Zm12.717,0.01a2.286,2.286,0,1,1,4.572.02A2.287,2.287,0,1,1,418.826,4955.77Zm2.707,7.94a7.047,7.047,0,0,0-1.253-4.55,3.579,3.579,0,0,1,1.839.01,4.216,4.216,0,0,1,3.09,3.71c0.058,0.67-.077.83-0.727,0.83h-2.949Zm-12.383-4.53a7.017,7.017,0,0,0-1.244,4.53h-3.15a0.484,0.484,0,0,1-.538-0.54,4.168,4.168,0,0,1,4.722-4.07C409,4959.12,409.061,4959.15,409.15,4959.18Z"
                                                    transform="translate(-404.219 -4949.72)" />
                                            </svg>
                                            25 Students
                                        </span>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="14" height="14"
                                                viewBox="0 0 14 14">
                                                <path class="cls-1"
                                                    d="M546.95,4952.05A7,7,0,1,0,549,4957,6.963,6.963,0,0,0,546.95,4952.05ZM542,4962.63a5.637,5.637,0,0,1-5.626-5.63v-0.02h0v-0.01a5.642,5.642,0,0,1,5.55-5.6H542A5.63,5.63,0,0,1,542,4962.63Zm4.273-5.29a0.419,0.419,0,0,1-.414-0.42,0.41,0.41,0,0,1,.414-0.41h0.5a4.819,4.819,0,0,0-4.416-4.3v0.44a0.415,0.415,0,0,1-.829,0v-0.42a4.8,4.8,0,0,0-4.306,4.34h0.447a0.41,0.41,0,1,1,0,.82h-0.45a4.806,4.806,0,0,0,4.367,4.39v-0.53a0.414,0.414,0,0,1,.828,0v0.53a4.8,4.8,0,0,0,4.372-4.44h-0.513Zm-2.6-1.43-1.384,1.38a0.418,0.418,0,0,1-.586,0l-2.409-2.41a0.409,0.409,0,0,1,0-.58,0.418,0.418,0,0,1,.586,0l2.116,2.11,1.091-1.09A0.416,0.416,0,0,1,543.677,4955.91Z"
                                                    transform="translate(-535 -4950)" />
                                            </svg>
                                            08:00 To 11:00
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="ks-blog-box">
                        <div class="ks-blog-inner">
                            <a href="javascript:;">
                                <div class="ks-blog-img">
                                    <img src="assets/images/b4.jpg" alt="">
                                </div>
                            </a>
                            <div class="ks-blog-content">
                                <a href="javascript:;" class="ks-dark-btn">age -
                                    5-7 year</a>
                                <h4>communication skills classes</h4>
                                <p class="ks-paragraph">Consectetur adipiscing
                                    eelit, seesd desdo eiusmod tempor incididunt
                                    usadeet labore et dolore magna aliqua. </p>
                                <div class="ks-blog-footer">
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="21" height="14"
                                                viewBox="0 0 21 14">
                                                <path class="cls-1"
                                                    d="M414.72,4963.71h-5.205c-0.639,0-.739-0.11-0.717-0.76a5.916,5.916,0,0,1,11.748-.83,7.2,7.2,0,0,1,.093.91c0.023,0.55-.1.68-0.632,0.68H414.72Zm0.017-7.47a3.261,3.261,0,1,1,3.18-3.3A3.223,3.223,0,0,1,414.737,4956.24Zm-8.628-.48a2.286,2.286,0,1,1,2.286,2.36A2.312,2.312,0,0,1,406.109,4955.76Zm12.717,0.01a2.286,2.286,0,1,1,4.572.02A2.287,2.287,0,1,1,418.826,4955.77Zm2.707,7.94a7.047,7.047,0,0,0-1.253-4.55,3.579,3.579,0,0,1,1.839.01,4.216,4.216,0,0,1,3.09,3.71c0.058,0.67-.077.83-0.727,0.83h-2.949Zm-12.383-4.53a7.017,7.017,0,0,0-1.244,4.53h-3.15a0.484,0.484,0,0,1-.538-0.54,4.168,4.168,0,0,1,4.722-4.07C409,4959.12,409.061,4959.15,409.15,4959.18Z"
                                                    transform="translate(-404.219 -4949.72)" />
                                            </svg>
                                            25 Students
                                        </span>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="14" height="14"
                                                viewBox="0 0 14 14">
                                                <path class="cls-1"
                                                    d="M546.95,4952.05A7,7,0,1,0,549,4957,6.963,6.963,0,0,0,546.95,4952.05ZM542,4962.63a5.637,5.637,0,0,1-5.626-5.63v-0.02h0v-0.01a5.642,5.642,0,0,1,5.55-5.6H542A5.63,5.63,0,0,1,542,4962.63Zm4.273-5.29a0.419,0.419,0,0,1-.414-0.42,0.41,0.41,0,0,1,.414-0.41h0.5a4.819,4.819,0,0,0-4.416-4.3v0.44a0.415,0.415,0,0,1-.829,0v-0.42a4.8,4.8,0,0,0-4.306,4.34h0.447a0.41,0.41,0,1,1,0,.82h-0.45a4.806,4.806,0,0,0,4.367,4.39v-0.53a0.414,0.414,0,0,1,.828,0v0.53a4.8,4.8,0,0,0,4.372-4.44h-0.513Zm-2.6-1.43-1.384,1.38a0.418,0.418,0,0,1-.586,0l-2.409-2.41a0.409,0.409,0,0,1,0-.58,0.418,0.418,0,0,1,.586,0l2.116,2.11,1.091-1.09A0.416,0.416,0,0,1,543.677,4955.91Z"
                                                    transform="translate(-535 -4950)" />
                                            </svg>
                                            08:00 To 11:00
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="ks-blog-box">
                        <div class="ks-blog-inner">
                            <a href="javascript:;">
                                <div class="ks-blog-img">
                                    <img src="assets/images/b5.jpg" alt="">
                                </div>
                            </a>
                            <div class="ks-blog-content">
                                <a href="javascript:;" class="ks-dark-btn">age -
                                    5-7 year</a>
                                <h4>communication skills classes</h4>
                                <p class="ks-paragraph">Consectetur adipiscing
                                    eelit, seesd desdo eiusmod tempor incididunt
                                    usadeet labore et dolore magna aliqua. </p>
                                <div class="ks-blog-footer">
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="21" height="14"
                                                viewBox="0 0 21 14">
                                                <path class="cls-1"
                                                    d="M414.72,4963.71h-5.205c-0.639,0-.739-0.11-0.717-0.76a5.916,5.916,0,0,1,11.748-.83,7.2,7.2,0,0,1,.093.91c0.023,0.55-.1.68-0.632,0.68H414.72Zm0.017-7.47a3.261,3.261,0,1,1,3.18-3.3A3.223,3.223,0,0,1,414.737,4956.24Zm-8.628-.48a2.286,2.286,0,1,1,2.286,2.36A2.312,2.312,0,0,1,406.109,4955.76Zm12.717,0.01a2.286,2.286,0,1,1,4.572.02A2.287,2.287,0,1,1,418.826,4955.77Zm2.707,7.94a7.047,7.047,0,0,0-1.253-4.55,3.579,3.579,0,0,1,1.839.01,4.216,4.216,0,0,1,3.09,3.71c0.058,0.67-.077.83-0.727,0.83h-2.949Zm-12.383-4.53a7.017,7.017,0,0,0-1.244,4.53h-3.15a0.484,0.484,0,0,1-.538-0.54,4.168,4.168,0,0,1,4.722-4.07C409,4959.12,409.061,4959.15,409.15,4959.18Z"
                                                    transform="translate(-404.219 -4949.72)" />
                                            </svg>
                                            25 Students
                                        </span>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="14" height="14"
                                                viewBox="0 0 14 14">
                                                <path class="cls-1"
                                                    d="M546.95,4952.05A7,7,0,1,0,549,4957,6.963,6.963,0,0,0,546.95,4952.05ZM542,4962.63a5.637,5.637,0,0,1-5.626-5.63v-0.02h0v-0.01a5.642,5.642,0,0,1,5.55-5.6H542A5.63,5.63,0,0,1,542,4962.63Zm4.273-5.29a0.419,0.419,0,0,1-.414-0.42,0.41,0.41,0,0,1,.414-0.41h0.5a4.819,4.819,0,0,0-4.416-4.3v0.44a0.415,0.415,0,0,1-.829,0v-0.42a4.8,4.8,0,0,0-4.306,4.34h0.447a0.41,0.41,0,1,1,0,.82h-0.45a4.806,4.806,0,0,0,4.367,4.39v-0.53a0.414,0.414,0,0,1,.828,0v0.53a4.8,4.8,0,0,0,4.372-4.44h-0.513Zm-2.6-1.43-1.384,1.38a0.418,0.418,0,0,1-.586,0l-2.409-2.41a0.409,0.409,0,0,1,0-.58,0.418,0.418,0,0,1,.586,0l2.116,2.11,1.091-1.09A0.416,0.416,0,0,1,543.677,4955.91Z"
                                                    transform="translate(-535 -4950)" />
                                            </svg>
                                            08:00 To 11:00
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="ks-blog-box">
                        <div class="ks-blog-inner">
                            <a href="javascript:;">
                                <div class="ks-blog-img">
                                    <img src="assets/images/b6.jpg" alt="">
                                </div>
                            </a>
                            <div class="ks-blog-content">
                                <a href="javascript:;" class="ks-dark-btn">age -
                                    5-7 year</a>
                                <h4>communication skills classes</h4>
                                <p class="ks-paragraph">Consectetur adipiscing
                                    eelit, seesd desdo eiusmod tempor incididunt
                                    usadeet labore et dolore magna aliqua. </p>
                                <div class="ks-blog-footer">
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="21" height="14"
                                                viewBox="0 0 21 14">
                                                <path class="cls-1"
                                                    d="M414.72,4963.71h-5.205c-0.639,0-.739-0.11-0.717-0.76a5.916,5.916,0,0,1,11.748-.83,7.2,7.2,0,0,1,.093.91c0.023,0.55-.1.68-0.632,0.68H414.72Zm0.017-7.47a3.261,3.261,0,1,1,3.18-3.3A3.223,3.223,0,0,1,414.737,4956.24Zm-8.628-.48a2.286,2.286,0,1,1,2.286,2.36A2.312,2.312,0,0,1,406.109,4955.76Zm12.717,0.01a2.286,2.286,0,1,1,4.572.02A2.287,2.287,0,1,1,418.826,4955.77Zm2.707,7.94a7.047,7.047,0,0,0-1.253-4.55,3.579,3.579,0,0,1,1.839.01,4.216,4.216,0,0,1,3.09,3.71c0.058,0.67-.077.83-0.727,0.83h-2.949Zm-12.383-4.53a7.017,7.017,0,0,0-1.244,4.53h-3.15a0.484,0.484,0,0,1-.538-0.54,4.168,4.168,0,0,1,4.722-4.07C409,4959.12,409.061,4959.15,409.15,4959.18Z"
                                                    transform="translate(-404.219 -4949.72)" />
                                            </svg>
                                            25 Students
                                        </span>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="14" height="14"
                                                viewBox="0 0 14 14">
                                                <path class="cls-1"
                                                    d="M546.95,4952.05A7,7,0,1,0,549,4957,6.963,6.963,0,0,0,546.95,4952.05ZM542,4962.63a5.637,5.637,0,0,1-5.626-5.63v-0.02h0v-0.01a5.642,5.642,0,0,1,5.55-5.6H542A5.63,5.63,0,0,1,542,4962.63Zm4.273-5.29a0.419,0.419,0,0,1-.414-0.42,0.41,0.41,0,0,1,.414-0.41h0.5a4.819,4.819,0,0,0-4.416-4.3v0.44a0.415,0.415,0,0,1-.829,0v-0.42a4.8,4.8,0,0,0-4.306,4.34h0.447a0.41,0.41,0,1,1,0,.82h-0.45a4.806,4.806,0,0,0,4.367,4.39v-0.53a0.414,0.414,0,0,1,.828,0v0.53a4.8,4.8,0,0,0,4.372-4.44h-0.513Zm-2.6-1.43-1.384,1.38a0.418,0.418,0,0,1-.586,0l-2.409-2.41a0.409,0.409,0,0,1,0-.58,0.418,0.418,0,0,1,.586,0l2.116,2.11,1.091-1.09A0.416,0.416,0,0,1,543.677,4955.91Z"
                                                    transform="translate(-535 -4950)" />
                                            </svg>
                                            08:00 To 11:00
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="ks-blog-box">
                        <div class="ks-blog-inner">
                            <a href="javascript:;">
                                <div class="ks-blog-img">
                                    <img src="assets/images/b7.jpg" alt="">
                                </div>
                            </a>
                            <div class="ks-blog-content">
                                <a href="javascript:;" class="ks-dark-btn">age -
                                    5-7 year</a>
                                <h4>communication skills classes</h4>
                                <p class="ks-paragraph">Consectetur adipiscing
                                    eelit, seesd desdo eiusmod tempor incididunt
                                    usadeet labore et dolore magna aliqua. </p>
                                <div class="ks-blog-footer">
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="21" height="14"
                                                viewBox="0 0 21 14">
                                                <path class="cls-1"
                                                    d="M414.72,4963.71h-5.205c-0.639,0-.739-0.11-0.717-0.76a5.916,5.916,0,0,1,11.748-.83,7.2,7.2,0,0,1,.093.91c0.023,0.55-.1.68-0.632,0.68H414.72Zm0.017-7.47a3.261,3.261,0,1,1,3.18-3.3A3.223,3.223,0,0,1,414.737,4956.24Zm-8.628-.48a2.286,2.286,0,1,1,2.286,2.36A2.312,2.312,0,0,1,406.109,4955.76Zm12.717,0.01a2.286,2.286,0,1,1,4.572.02A2.287,2.287,0,1,1,418.826,4955.77Zm2.707,7.94a7.047,7.047,0,0,0-1.253-4.55,3.579,3.579,0,0,1,1.839.01,4.216,4.216,0,0,1,3.09,3.71c0.058,0.67-.077.83-0.727,0.83h-2.949Zm-12.383-4.53a7.017,7.017,0,0,0-1.244,4.53h-3.15a0.484,0.484,0,0,1-.538-0.54,4.168,4.168,0,0,1,4.722-4.07C409,4959.12,409.061,4959.15,409.15,4959.18Z"
                                                    transform="translate(-404.219 -4949.72)" />
                                            </svg>
                                            25 Students
                                        </span>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="14" height="14"
                                                viewBox="0 0 14 14">
                                                <path class="cls-1"
                                                    d="M546.95,4952.05A7,7,0,1,0,549,4957,6.963,6.963,0,0,0,546.95,4952.05ZM542,4962.63a5.637,5.637,0,0,1-5.626-5.63v-0.02h0v-0.01a5.642,5.642,0,0,1,5.55-5.6H542A5.63,5.63,0,0,1,542,4962.63Zm4.273-5.29a0.419,0.419,0,0,1-.414-0.42,0.41,0.41,0,0,1,.414-0.41h0.5a4.819,4.819,0,0,0-4.416-4.3v0.44a0.415,0.415,0,0,1-.829,0v-0.42a4.8,4.8,0,0,0-4.306,4.34h0.447a0.41,0.41,0,1,1,0,.82h-0.45a4.806,4.806,0,0,0,4.367,4.39v-0.53a0.414,0.414,0,0,1,.828,0v0.53a4.8,4.8,0,0,0,4.372-4.44h-0.513Zm-2.6-1.43-1.384,1.38a0.418,0.418,0,0,1-.586,0l-2.409-2.41a0.409,0.409,0,0,1,0-.58,0.418,0.418,0,0,1,.586,0l2.116,2.11,1.091-1.09A0.416,0.416,0,0,1,543.677,4955.91Z"
                                                    transform="translate(-535 -4950)" />
                                            </svg>
                                            08:00 To 11:00
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="ks-blog-box">
                        <div class="ks-blog-inner">
                            <a href="javascript:;">
                                <div class="ks-blog-img">
                                    <img src="assets/images/b8.jpg" alt="">
                                </div>
                            </a>
                            <div class="ks-blog-content">
                                <a href="javascript:;" class="ks-dark-btn">age -
                                    5-7 year</a>
                                <h4>communication skills classes</h4>
                                <p class="ks-paragraph">Consectetur adipiscing
                                    eelit, seesd desdo eiusmod tempor incididunt
                                    usadeet labore et dolore magna aliqua. </p>
                                <div class="ks-blog-footer">
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="21" height="14"
                                                viewBox="0 0 21 14">
                                                <path class="cls-1"
                                                    d="M414.72,4963.71h-5.205c-0.639,0-.739-0.11-0.717-0.76a5.916,5.916,0,0,1,11.748-.83,7.2,7.2,0,0,1,.093.91c0.023,0.55-.1.68-0.632,0.68H414.72Zm0.017-7.47a3.261,3.261,0,1,1,3.18-3.3A3.223,3.223,0,0,1,414.737,4956.24Zm-8.628-.48a2.286,2.286,0,1,1,2.286,2.36A2.312,2.312,0,0,1,406.109,4955.76Zm12.717,0.01a2.286,2.286,0,1,1,4.572.02A2.287,2.287,0,1,1,418.826,4955.77Zm2.707,7.94a7.047,7.047,0,0,0-1.253-4.55,3.579,3.579,0,0,1,1.839.01,4.216,4.216,0,0,1,3.09,3.71c0.058,0.67-.077.83-0.727,0.83h-2.949Zm-12.383-4.53a7.017,7.017,0,0,0-1.244,4.53h-3.15a0.484,0.484,0,0,1-.538-0.54,4.168,4.168,0,0,1,4.722-4.07C409,4959.12,409.061,4959.15,409.15,4959.18Z"
                                                    transform="translate(-404.219 -4949.72)" />
                                            </svg>
                                            25 Students
                                        </span>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="14" height="14"
                                                viewBox="0 0 14 14">
                                                <path class="cls-1"
                                                    d="M546.95,4952.05A7,7,0,1,0,549,4957,6.963,6.963,0,0,0,546.95,4952.05ZM542,4962.63a5.637,5.637,0,0,1-5.626-5.63v-0.02h0v-0.01a5.642,5.642,0,0,1,5.55-5.6H542A5.63,5.63,0,0,1,542,4962.63Zm4.273-5.29a0.419,0.419,0,0,1-.414-0.42,0.41,0.41,0,0,1,.414-0.41h0.5a4.819,4.819,0,0,0-4.416-4.3v0.44a0.415,0.415,0,0,1-.829,0v-0.42a4.8,4.8,0,0,0-4.306,4.34h0.447a0.41,0.41,0,1,1,0,.82h-0.45a4.806,4.806,0,0,0,4.367,4.39v-0.53a0.414,0.414,0,0,1,.828,0v0.53a4.8,4.8,0,0,0,4.372-4.44h-0.513Zm-2.6-1.43-1.384,1.38a0.418,0.418,0,0,1-.586,0l-2.409-2.41a0.409,0.409,0,0,1,0-.58,0.418,0.418,0,0,1,.586,0l2.116,2.11,1.091-1.09A0.416,0.416,0,0,1,543.677,4955.91Z"
                                                    transform="translate(-535 -4950)" />
                                            </svg>
                                            08:00 To 11:00
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="ks-blog-box">
                        <div class="ks-blog-inner">
                            <a href="javascript:;">
                                <div class="ks-blog-img">
                                    <img src="assets/images/b9.jpg" alt="">
                                </div>
                            </a>
                            <div class="ks-blog-content">
                                <a href="javascript:;" class="ks-dark-btn">age -
                                    5-7 year</a>
                                <h4>communication skills classes</h4>
                                <p class="ks-paragraph">Consectetur adipiscing
                                    eelit, seesd desdo eiusmod tempor incididunt
                                    usadeet labore et dolore magna aliqua. </p>
                                <div class="ks-blog-footer">
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="21" height="14"
                                                viewBox="0 0 21 14">
                                                <path class="cls-1"
                                                    d="M414.72,4963.71h-5.205c-0.639,0-.739-0.11-0.717-0.76a5.916,5.916,0,0,1,11.748-.83,7.2,7.2,0,0,1,.093.91c0.023,0.55-.1.68-0.632,0.68H414.72Zm0.017-7.47a3.261,3.261,0,1,1,3.18-3.3A3.223,3.223,0,0,1,414.737,4956.24Zm-8.628-.48a2.286,2.286,0,1,1,2.286,2.36A2.312,2.312,0,0,1,406.109,4955.76Zm12.717,0.01a2.286,2.286,0,1,1,4.572.02A2.287,2.287,0,1,1,418.826,4955.77Zm2.707,7.94a7.047,7.047,0,0,0-1.253-4.55,3.579,3.579,0,0,1,1.839.01,4.216,4.216,0,0,1,3.09,3.71c0.058,0.67-.077.83-0.727,0.83h-2.949Zm-12.383-4.53a7.017,7.017,0,0,0-1.244,4.53h-3.15a0.484,0.484,0,0,1-.538-0.54,4.168,4.168,0,0,1,4.722-4.07C409,4959.12,409.061,4959.15,409.15,4959.18Z"
                                                    transform="translate(-404.219 -4949.72)" />
                                            </svg>
                                            25 Students
                                        </span>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="14" height="14"
                                                viewBox="0 0 14 14">
                                                <path class="cls-1"
                                                    d="M546.95,4952.05A7,7,0,1,0,549,4957,6.963,6.963,0,0,0,546.95,4952.05ZM542,4962.63a5.637,5.637,0,0,1-5.626-5.63v-0.02h0v-0.01a5.642,5.642,0,0,1,5.55-5.6H542A5.63,5.63,0,0,1,542,4962.63Zm4.273-5.29a0.419,0.419,0,0,1-.414-0.42,0.41,0.41,0,0,1,.414-0.41h0.5a4.819,4.819,0,0,0-4.416-4.3v0.44a0.415,0.415,0,0,1-.829,0v-0.42a4.8,4.8,0,0,0-4.306,4.34h0.447a0.41,0.41,0,1,1,0,.82h-0.45a4.806,4.806,0,0,0,4.367,4.39v-0.53a0.414,0.414,0,0,1,.828,0v0.53a4.8,4.8,0,0,0,4.372-4.44h-0.513Zm-2.6-1.43-1.384,1.38a0.418,0.418,0,0,1-.586,0l-2.409-2.41a0.409,0.409,0,0,1,0-.58,0.418,0.418,0,0,1,.586,0l2.116,2.11,1.091-1.09A0.416,0.416,0,0,1,543.677,4955.91Z"
                                                    transform="translate(-535 -4950)" />
                                            </svg>
                                            08:00 To 11:00
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog section end -->






    <!-- footer section start -->
    <div class="ks-footer-wrapper" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="ks-footer-first">
                        <div class="ks-footer-logo">
                            <img src="assets/images/footer-logo.png" alt="">
                        </div>
                        <div class="ks-footer-text">
                            <p class="ks-paragraph">Consectetur adipiscing elit
                                esdesed do eiusmod tempor incididunt ueset
                                labore et dolore magna aliqua. Quis ipsum ans
                                the suspendisse.</p>
                            <a href="javascript:;">read More
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        width="16.03" height="9.97"
                                        viewBox="0 0 16.03 9.97">
                                        <path class="cls-1"
                                            d="M1115.25,2936.29h-12.11a2.541,2.541,0,0,0-.39.01,0.8,0.8,0,0,0,0,1.59,2.508,2.508,0,0,0,.39.01h12.18a3.121,3.121,0,0,1-.24.3c-0.79.81-1.58,1.63-2.38,2.44a0.868,0.868,0,0,0-.26.87,0.752,0.752,0,0,0,1.28.35c1.38-1.39,2.74-2.79,4.1-4.2a0.765,0.765,0,0,0,0-1.12q-2.04-2.115-4.09-4.21a0.739,0.739,0,0,0-1.09,0,0.821,0.821,0,0,0,.01,1.16c0.78,0.81,1.56,1.62,2.35,2.42a2.215,2.215,0,0,0,.35.25A1.132,1.132,0,0,1,1115.25,2936.29Z"
                                            transform="translate(-1102.06 -2932.12)">
                                        </path>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <div class="ks-footer-link-parent">
                        <div class="ks-footer-links-heading">
                            <h2 class="ks-heading">quick links</h2>
                        </div>
                        <div class="ks-footer-link">
                            <ul>
                                <li>
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="7.062" height="7.06"
                                                viewBox="0 0 7.062 7.06">
                                                <path class="cls-1"
                                                    d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                    transform="translate(-674.969 -6665.97)" />
                                            </svg>
                                        </span>
                                        about us
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="7.062" height="7.06"
                                                viewBox="0 0 7.062 7.06">
                                                <path class="cls-1"
                                                    d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                    transform="translate(-674.969 -6665.97)" />
                                            </svg>
                                        </span>
                                        our programs
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="7.062" height="7.06"
                                                viewBox="0 0 7.062 7.06">
                                                <path class="cls-1"
                                                    d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                    transform="translate(-674.969 -6665.97)" />
                                            </svg>
                                        </span>
                                        gallery
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="7.062" height="7.06"
                                                viewBox="0 0 7.062 7.06">
                                                <path class="cls-1"
                                                    d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                    transform="translate(-674.969 -6665.97)" />
                                            </svg>
                                        </span>
                                        our team
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="7.062" height="7.06"
                                                viewBox="0 0 7.062 7.06">
                                                <path class="cls-1"
                                                    d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                    transform="translate(-674.969 -6665.97)" />
                                            </svg>
                                        </span>
                                        events
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="ks-footer-link-parent">
                        <div class="ks-footer-links-heading">
                            <h2 class="ks-heading activity">activities</h2>
                        </div>
                        <div class="ks-footer-link">
                            <ul>
                                <li>
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="7.062" height="7.06"
                                                viewBox="0 0 7.062 7.06">
                                                <path class="cls-1"
                                                    d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                    transform="translate(-674.969 -6665.97)" />
                                            </svg>
                                        </span>
                                        math olympiad
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="7.062" height="7.06"
                                                viewBox="0 0 7.062 7.06">
                                                <path class="cls-1"
                                                    d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                    transform="translate(-674.969 -6665.97)" />
                                            </svg>
                                        </span>
                                        art competition
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="7.062" height="7.06"
                                                viewBox="0 0 7.062 7.06">
                                                <path class="cls-1"
                                                    d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                    transform="translate(-674.969 -6665.97)" />
                                            </svg>
                                        </span>
                                        English novels
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="7.062" height="7.06"
                                                viewBox="0 0 7.062 7.06">
                                                <path class="cls-1"
                                                    d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                    transform="translate(-674.969 -6665.97)" />
                                            </svg>
                                        </span>teachers day
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                width="7.062" height="7.06"
                                                viewBox="0 0 7.062 7.06">
                                                <path class="cls-1"
                                                    d="M678.5,6665.96l3.535,3.54-3.535,3.54-3.536-3.54Z"
                                                    transform="translate(-674.969 -6665.97)" />
                                            </svg>
                                        </span>
                                        world kids day
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="ks-footer-last-parent">
                        <div class="ks-footer-links-heading">
                            <h2 class="ks-heading">subscribe now</h2>
                        </div>
                        <div class="ks-footer-form">
                            <input type="name"
                                placeholder="Enter Your Name Here...">
                            <input type="email"
                                placeholder="Enter Your Email Here...">
                            <a href="javascript:;" class="ks-dark-btn">subscribe
                                now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section end -->
    <!-- copyright section start -->
    <div class="ks-copyright-wrapper">
        <p> 2022 <a href="index.html">Kids School</a>, All Rights Reserved</p>
    </div>

</body>