<!--
 * @Date         : 2023-08-10 11:14:51
 * @Author       : BDFD,bdfd2005@gmail.com
 * @Github       : https://github.com/bdfd
 * @LastEditTime : 2023-08-26 12:46:58
 * @LastEditors  : BDFD
 * @Description  : 
 * @FilePath     : \views\1.0Index_Page\index_partials\01index_banner.ejs
 * Copyright (c) 2023 by BDFD, All Rights Reserved. 
-->
<div class="ks-banner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="ks-banner-left" style="padding-top:50px;">
                    <!-- 1-1-1 Section-->
                    <h1 style="padding-bottom: 85px;">BEsideYOU<br />MANDRAIN
                    </h1>
                    <!-- 1-1-2 Section-->
                    <h1>With us, Be a better yourself, Diversity & Inclusive!
                    </h1>
                    <!-- 1-1-3 Section-->
                    <p>Learn more languages, learn more cultures, be a better
                        yourself in further.
                    </p>
                    <div class="ks-banner-btn">
                        <!-- <div class="ks-main-btn">
                            <a href="javascript" class="ks-btn">Reade
                                More</a>
                        </div> -->
                        <!-- <div class="ks-banner-video-btn">
                            <p>play classes demo</p>
                            <a href="javascript:;" data-bs-toggle="modal"
                                data-bs-target="#exampleModalCenter">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        width="13.469" height="17.937"
                                        viewBox="0 0 13.469 17.937">
                                        <path class="cls-1"
                                            d="M831.423,622.956c0-2.407,0-4.814.006-7.222a3.236,3.236,0,0,1,.136-0.961,1.057,1.057,0,0,1,1.347-.75,3.639,3.639,0,0,1,1.075.486q4.952,3.366,9.883,6.763a2.031,2.031,0,0,1,1.008,1.561,1.922,1.922,0,0,1-.953,1.761c-1.256.874-2.521,1.733-3.782,2.6q-3.02,2.069-6.04,4.133a4.67,4.67,0,0,1-.788.45,1.245,1.245,0,0,1-1.879-1.14c-0.017-.186-0.013-0.374-0.013-0.561v-7.117Z"
                                            transform="translate(-831.406 -613.969)" />
                                    </svg>
                                </span>
                            </a>
                        </div> -->
                    </div>
                </div>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1"
                    role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered mg-left"
                        role="document">
                        <div class="modal-content">
                            <div class="mf-banner-video">
                                <video controls id="video1"
                                    src="/images/demo.mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>