<!--
 * @Date         : 2023-08-21 12:42:28
 * @Author       : BDFD,bdfd2005@gmail.com
 * @Github       : https://github.com/bdfd
 * @LastEditTime : 2023-08-23 10:20:01
 * @LastEditors  : BDFD
 * @Description  : 
 * @FilePath     : \views\1.0Index_Page\index_partials\02index_about.ejs
 * Copyright (c) 2023 by BDFD, All Rights Reserved. 
-->
<!-- <div class="ks-about-wrapper" id="about"> -->
<div class="container" id="about_us">
    <!-- <div class="ks-about-botm-parent"> -->
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="ks-about-left-img">
                <img src="/images/about-girl.png" alt="">
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="ks-about-right">
                <!-- 1-2-1 Section-->
                <h2 class="ks-heading">About Us</h2>
                <!-- 1-2-2 Section-->
                <h2 class="ks-paragraph" style="font-size:x-large;">
                    <b>BEsideYOU Mandarin</b> offers you customized
                    mandarin learning solutions. We work together with you
                    to start the mandarin learning journey with fun and
                    confidence.<br />
                    We are offering Mandarin Program to our partnership.
                </h2>
                <img src="/images/logo/parner_logo_1.png" alt="">
                <img src="/images/logo/parner_logo_2.png" alt="">
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>
<!-- </div> -->