<div class="ks-about-wrapper" id="about">
    <div class="container">
        <div class="ks-about-botm-parent">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="ks-about-left-img">
                        <img src="/images/about-girl.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="ks-about-right">
                        <h2 class="ks-heading">1-2-1.About Us Section</h2>
                        <p class="ks-paragraph">
                            1-2-2.Lorem ipsum dolor, sit amet consectetur
                            adipisicing
                            elit. Ab, et. Itaque quae repudiandae, deleniti
                            labore voluptatibus inventore eum accusantium neque
                            eligendi est cumque reiciendis dolor! Eum sit
                            assumenda sint dolor.
                        </p>
                        <!-- <a href="javascript:;" class="ks-dark-btn">read
                            more</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>