<div class="ks-about-wrapper" id="about">
    <div class="container">
        <div class="ks-about-botm-parent">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="ks-about-left-img">
                        <img src="/images/about-girl.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="ks-about-right">
                        <!-- 1-2-1 Section-->
                        <h2 class="ks-heading">About Us</h2>
                        <!-- 1-2-2 Section-->
                        <h2 class="ks-paragraph" style="font-size:x-large;">
                            <b>BEside YOU</b> Mandarin offers you
                            customized
                            mandarin learning solutions. We work together
                            with you to start the mandarin learning journey
                            with fun and confidence.
                        </h2>
                        <!-- <a href="javascript:;" class="ks-dark-btn">read
                            more</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>