<div class="ks-gallery-wrapper" id="gallery">
    <div class="container">
        <div class="ks-gallery-heading">
            <h2 class="ks-heading">our student gallery</h2>
        </div>
        <div class="filters filter-button-group">
            <ul>
                <h4>
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".events">Events</li>
                    <li data-filter=".holidaystour">Holidays Tour
                    </li>
                    <li data-filter=".award">Award</li>
                    <li data-filter=".presenday">Present Day</li>
                </h4>
            </ul>
        </div>
        <div class="content grid">
            <div
                class="single-content holidaystour grid-item gallery-box-inner">
                <div class="ks-gallery-img">
                    <img class="p2" src="/images/g1.png">
                    <div class="ks-gallery-overlay"></div>
                </div>
            </div>
            <div
                class="single-content holidaystour grid-item gallery-box-inner">
                <div class="ks-gallery-img">
                    <img class="p2" src="/images/g3.png">
                    <div class="ks-gallery-overlay"></div>
                </div>
            </div>
            <div class="single-content presenday grid-item gallery-box-inner">
                <div class="ks-gallery-img">
                    <img class="p2" src="/images/g5.png">
                    <div class="ks-gallery-overlay"></div>
                </div>
            </div>
            <div class="single-content events grid-item gallery-box-inner">
                <div class="ks-gallery-img">
                    <img class="p2" src="/images/g7.png">
                    <div class="ks-gallery-overlay"></div>
                </div>
            </div>
            <div class="single-content presenday grid-item gallery-box-inner">
                <div class="ks-gallery-img">
                    <img class="p2" src="/images/g2.png">
                    <div class="ks-gallery-overlay"></div>
                </div>
            </div>
            <div class="single-content award grid-item gallery-box-inner">
                <div class="ks-gallery-img">
                    <img class="p2" src="/images/g6.png">
                    <div class="ks-gallery-overlay"></div>
                </div>
            </div>
            <div class="single-content award grid-item gallery-box-inner">
                <div class="ks-gallery-img">
                    <img class="p2" src="/images/g8.png">
                    <div class="ks-gallery-overlay"></div>
                </div>
            </div>
            <div class="single-content events grid-item gallery-box-inner">
                <div class="ks-gallery-img">
                    <img class="p2" src="/images/g4.png">
                    <div class="ks-gallery-overlay"></div>
                </div>
            </div>
        </div>
        <div class="ks-gallery-btn">
            <a href="javascript:;" class="ks-dark-btn">view more
                photos</a>
        </div>
    </div>
</div>